python-dotenv==0.21.0
pytimeparse==1.1.8
telegram==0.0.1

backports.zoneinfo==0.2.1
behave==1.2.6
callback==0.0.1
certifi==2022.9.24
idna==3.4
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pathtools==0.1.2
portalocker==2.6.0
pyparsing==3.0.9
python-rex==0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
telebot==0.0.4
tzlocal==4.2
updater==0.3.2
urllib3==1.26.13



